html{
    font-size: 62.5%;
    text-transform: capitalize;
}


/* styles for login page  */

.login{
    height: 100vh;
    text-align: center;
    font-size: 2rem;

}
.login input,select{
    margin: 0 0 1rem 0;
    height: 4rem;
    width: 20rem;
}
.login button{
    margin: 1rem 0;
    height: 4rem;
    width: 10rem;
    font-size: 2rem;
    border-radius: 5px;
}
input::placeholder{
    font-size: 2rem;
}
select{
    display: block;
 
    border: 1px solid #080808;
    border-radius:2px;
}
select:focus{
    border: 3px solid #afc7ee;
    border-radius:2px;
}

option{
font-size: 1rem;
}


.loginForm{
    box-shadow: 0 0 10px grey;
    padding: 2rem;
    border-radius: 5px;
    margin: 2rem;
}

/* register form  */

.register{
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

.left-inputs{
    margin: 2rem;
}
.registerForm{
    margin:5rem auto;
    width:fit-content;
    padding: 2rem;
}
/* admin registration form */

.adminForm .left-inputs{
    margin: 0 2rem;
}

/* product card */
.card {
    margin: 2rem;
    width: 25rem;
    font-size: 2rem;
    transition: all .3s;
}

.card:hover {
    box-shadow: 0 0 50px grey;
}

.card-header img {
    width: 100%;
    height: 20rem;
}

/* recipt */
.recipt {
    padding: 5rem;
    font-size: 2rem;
}
.recipt h1 {
    text-align: center;
}
.logo{
    width: 30rem;
    height: 20rem;
align-self: center;
}
.companyLogo img{
    width: 10rem;
    height: 10rem;
}

.recipt ul{
    list-style: none;
    margin: 2rem;
}

.recipt tr:nth-child(1){
    background-color: rgb(3, 115, 187);
    color: #fff;
}

.recipt-footer{
    align-items: end;
    height: 10rem;
    margin: 10rem;
}
.seal{
    width: 10rem;
    height: 10rem;
}

/* product register form */
.productRegisterForm{
    margin: 5rem auto;
    width:40rem;
    padding: 2rem;
}

.productRegisterForm input{
width: 100%;
}

.productRegister .left-inputs{
    margin: 0 2rem;
}
.form-control-file{
    display: block !important;
}

textarea::placeholder{
    font-size: 2rem;
}

/* report Table */
.report{
    margin: 5rem;
    padding: 2rem;
    font-size: 2rem;
}
.report h1{
    text-align: center;
}
.reportTable{
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
}
.reportTable tr:nth-child(1){
    background-color: rgb(3, 115, 187);
    color: #fff;
}
