<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax MAnagment System</title>
    <!-- css link -->
    <link rel="stylesheet" href="styles.css" />
    <!-- bootetrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- product register -->
    <section class="productRegister login register">
        <h1>product registration form</h1>
      <form
        action=""
        class="productRegisterForm loginForm registerForm d-flex flex-column justify-content-center"
      >

          <div class="register-input-group">
            <label for="ProductName" class="form-label">Product Name</label>
            <input
              type="text"
              id="ProductName"
              name="ProductName"
              class="form-control"
              placeholder="ProductName"
            />
          </div>
          <div class="register-input-group">
            <label for="quantity" class="form-label">quantity</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              class="form-control"
              placeholder="quantity"
            />
          </div>
          <div class="register-input-group">
            <label for="price" class="form-label">price</label>
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              placeholder="price"
            />
          </div>
          <label for="floatingTextarea2">product detail</label>
          <div class="">
            <textarea class="form-control"  id="productDetails" style="height: 100px" placeholder="Describe yourself here..."></textarea>
          </div>
          <div class="register-input-group">
            <label for="image" class="form-label">product image</label>
            <input
              type="file"
              id="image"
              name="image"
              class="form-control-file"
            />
          </div>
          <div class="login-btn">
            <button type="submit" class="btn btn-primary">regiser</button>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
