<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax MAnagment System</title>
    <!-- css link -->
    <link rel="stylesheet" href="styles.css" />
    <!-- bootetrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="d-flex flex-row flex-wrap align-items-center justify-content-start"
    >
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img src="a.jpg" alt="" />
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>name</li>
            <li>price</li>
            <li>tax</li>
            <li>quantitiy</li>
          </ul>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            Sign up for free
          </button>
        </div>
      </div>      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img src="a.jpg" alt="" />
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>name</li>
            <li>price</li>
            <li>tax</li>
            <li>quantitiy</li>
          </ul>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            Sign up for free
          </button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img src="a.jpg" alt="" />
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>name</li>
            <li>price</li>
            <li>tax</li>
            <li>quantitiy</li>
          </ul>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            Sign up for free
          </button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img src="a.jpg" alt="" />
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>name</li>
            <li>price</li>
            <li>tax</li>
            <li>quantitiy</li>
          </ul>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            Sign up for free
          </button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <img src="a.jpg" alt="" />
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>name</li>
            <li>price</li>
            <li>tax</li>
            <li>quantitiy</li>
          </ul>
          <button
            type="button"
            class="btn btn-lg btn-block btn-outline-primary"
          >
            Sign up for free
          </button>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
