<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tax MAnagment System</title>
    <!-- css link -->
    <link rel="stylesheet" href="styles.css" />
    <!-- bootetrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- recipt -->
    <div class="recipt">
      <div class="recipt-header d-flex flex-column">
        <img src="logo.jpg" alt="" class="logo">
        <h1>Tax Recipt</h1>
       
        <div class="d-flex flex-row justify-content-between">
            <ul>
                <li>company name</li>
                <li>email</li>
                <li>phone</li>
            </ul>
            <div class="companyLogo">
                <img src="a.jpg" alt="">
            </div>
        </div>
      </div>
      <div class="recipt-body">
        <table class="table table-bordered">
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>one Price</th>
              <th>total befor tax</th>
              <th>Total after taxt</th>
            </tr>
          </thead>
          <tr>
            <td>website</td>
            <td>2</td>
            <td>1500</td>
            <td>23434</td>
            <td>23435</td>
          </tr>
        </table>
      </div>
      <div class="recipt-footer d-flex flex-column">
        <img src="a.jpg" alt="" class="seal">
        <p>company name</p>
      </div>
    </div>
  </body>
</html>
